.no-bg {
    background: none;
    color: black;
}

.pentagon {
    width: 120px;
    height: 0;
    border-bottom: 80px solid var(--primary-color);
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    position: relative;
    margin: 0 auto 20px;
}

.pentagon:after {
    content: "";
    position: absolute;
    top: 80px;
    left: -60px;
    width: 0;
    border-top: 80px solid var(--primary-color);
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.pentagon h3 {
    position: absolute;
    top: 40px;
    left: -25px;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
}
